.CatalogSection{
    height: calc(100% - 75px);
    padding: 0 40px;
}
.filterZone{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filterZone h1{
    color: var(--whiteTextColor);
    font-family: var(--font);
    font-size: var(--h1Size);
    font-weight: var(--h1Weight);
}
.productZone{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 29px;
    width: 100%;
}