.paginationCount {
    color: var(--lGreyTextColor);
    display: flex;
    justify-content: center;
    gap: 20px;
    user-select: none;
}

.paginationCount span {
    cursor: pointer;
    
}

.paginationCount button {
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: var(--whiteTextColor);
    background-color: var(--bgcGreyColor);
}


.paginationCount button.selected {
    color: var(--whiteTextColor);
    background-color: var(--redColor);
}