.footer{
    color:var(--dGreyTextColor);
    display: flex;
    gap:40px;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
    background-color: var(--bgcGreyColor);
    margin-top: 100px;
    height: 100px;

}
.info{
    display: flex;
    gap:20px;
    width: 100%;
    justify-content: center;
}
.info p:hover{
    color:var(--lGreyTextColor);
    cursor: pointer;
}
.rules{
    width: 100%;
}