body, html{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;

    --bgcColor: #000;
    --whiteTextColor: #fff;
    --blacTextColor: #000;
    --yellowColor: #ffa600;
    --dYellowColor: #bf7e04;
    --redColor: #fa3d53;
    --limeColor: #0ce580;
    --dLimeColor: #01b354;
    --dGreyTextColot: #7b7b7b;
    --lGreyTextColot: #a8a8a8;

    
    --h1Size: 1.25rem;
    --h1Weight: bold;

    --titleSize: 1rem;
    --titleWeight: 600;

    --subtitleSize: 0.875rem;
    --subtitleWeight: 400;
}
