.paginationCount{
    display: flex;
    gap:10px
}
.paginationCount button {
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: var(--whiteTextColor);
    background-color: var(--bgcGreyColor);
}


.paginationCount button.selected {
    color: var(--whiteTextColor);
    background-color: var(--redColor);
}